@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

theme {
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: #09090b;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}

.no-scrollbar {
  scrollbar-width: none;
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 45px rgba(255, 0, 0, 0.8);
  }
}
